* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: white;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
  overflow-x: hidden;
}

.heading {
  display: flex;
  align-items: center;
  gap: 4px;
}

.heading > img {
  width: 60px;
  height: 60px;
}

hr {
  border-bottom: 1px solid pink;
  margin-top: 12px;
  margin-bottom: 32px;
}

.cubbles_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cubble-card {
  color: black;
  width: fit-content;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 16px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 30%);
  transition: all 300ms ease-in;
}

.cubble-card:hover {
  background-color: color-mix(in lch, rgba(255, 255, 255, 30%), pink 20%);
  box-shadow: 0px 0px 5px pink;
}

.cubble-card:hover * {
  transition: all 500ms ease-in;
  color: color-mix(in lch,  white, pink 80%);
}

.cubble-card > p {
  font-size: 1.5em;
  font-weight: bold;
}

.cubble-card > img {
  border-radius: 12px;
  width: 160px;
  height: 160px;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: white;
}

.cubble-card p {
  margin: 0;
  font-size: 20px;
}

.cubble-card > div {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 0px 4px;
  margin-top: 4px;
}

.cubble-card > div p {
}

.cubble-card > div p {
  font-size: 16px;
}

.like-badge {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #ed4956;
  width: fit-content;
  border-radius: 12px;
  padding: 2px 6px;
}

.like-badge > p {
  color: white !important;
}

.like-badge img {
  width: 16px;
  height: 16px;
}

.credit-container {
  width: fit-content;
  margin: 40px auto;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
  transition: all 300ms;
}

.credit-container:hover {
  background-color: #333;
}

.credit-container:hover img {
  animation: spin 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite alternate;
}
.credit-container:hover p {
  animation: rainbow 3s linear infinite alternate;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.credit-container > img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.credit-container > p {
  font-size: 20px;
  font-weight: bold;
}