

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4c5261;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #2f3542;
}